.container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.container > div {
    flex: 1;
}

.search {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.search > input {
    flex: 0 0 200px;
    transition: flex 0.4s ease-in-out;
}

.search > input:focus {
    flex: 1 0 200px;
}
