body {
    background: url("https://www.publicdomainpictures.net/pictures/20000/velka/fog-in-the-forest-1318089061Cho.jpg");
    background-color: #270722;
    background-size: cover;
}

.container {
    margin: auto;
}

.container > div {
    background-color: #E7BB41;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
}

.container > div > a {
    color: #050505;
}
