body {
    background: url("https://www.publicdomainpictures.net/pictures/20000/velka/fog-in-the-forest-1318089061Cho.jpg");
    background-color: #270722;
    background-size: cover;
}

.container {
    margin: auto;
}

.container > div {
    background-color: #E7BB41;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
}

.container > div > a {
    color: #050505;
}

.search {
    width: 70%;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
}

.search > input {
    color: #050505;
    background-color: ##E0FBFC;
    border: 2px solid black;
    border-radius: 15px;
}

.search > button {
    color: #050505;
    border: 2px solid black;
    border-radius: 15px;
    background-color: #E0FBFC;
    cursor: pointer;
}
